.App {
  text-align: center;
}

.home {

    counter-reset: Serial;           /* Set the Serial counter to 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.table {
  width: 50vw
}

tr td:first-child:before {
  counter-increment: Serial; 
  content: counter(Serial);  
}

